In [1]:
import pandas as pd
from prettytable import PrettyTable
from tabulate import tabulate

In [2]:
df = pd.read_excel('future.xlsx', sheet_name='Sheet2')

In [3]:
df

                 Date  Yes  No  Accuracy   Yes-Diff    No-Diff  Cumulative
0   Fri, Jan 19, 2024    2   5  0.285714   9.000000   7.800000    0.285714
1   Sat, Jan 20, 2024    5   3  0.625000  14.000000  10.000000    0.466667
2   Sun, Jan 21, 2024    2   4  0.333333   8.000000  15.500000    0.428571
3   Mon, Jan 22, 2024    3   5  0.375000  13.000000   8.800000    0.413793
4   Tue, Jan 23, 2024    1   4  0.200000   5.000000  19.250000    0.382353
5   Wed, Jan 24, 2024    3   5  0.375000   8.333333  17.800000    0.380952
6   Thu, Jan 25, 2024    3   4  0.428571  21.666667  11.250000    0.387755
7   Fri, Jan 26, 2024    4   4  0.500000   7.750000  20.750000    0.403509
8   Sat, Jan 27, 2024    4   6  0.400000   5.750000  12.833333    0.402985
9   Sun, Jan 28, 2024    3   2  0.600000  10.666667   7.000000    0.416667
10  Mon, Jan 29, 2024    4   8  0.333333  11.000000  13.625000    0.404762
11  Tue, Jan 30, 2024    3   2  0.600000  13.000000  10.000000    0.415730
12  Wed, Jan 31, 2024    3   7  0.300000   5.666667  14.428571    0.404040
13   Thu, Feb 1, 2024    2   2  0.500000   6.000000   5.500000    0.407767
14   Fri, Feb 2, 2024    3   7  0.300000   7.333333  14.428571    0.398230
15   Sat, Feb 3, 2024    3   3  0.500000  12.000000  10.000000    0.403361
16   Sun, Feb 4, 2024    8   1  0.888889  17.750000  15.000000    0.437500
17   Mon, Feb 5, 2024    5   1  0.833333  17.200000  16.000000    0.455224
18   Tue, Feb 6, 2024    2   5  0.285714  11.000000  10.000000    0.446809
19   Wed, Feb 7, 2024    4   3  0.571429   8.500000  15.666667    0.452703
20   Thu, Feb 8, 2024    4   5  0.444444  13.750000  16.000000    0.452229
21   Fri, Feb 9, 2024    3   3  0.500000  19.000000  12.666667    0.453988
22  Sat, Feb 10, 2024    7   4  0.636364  11.428571  14.750000    0.465517
23  Sun, Feb 11, 2024    2   0  1.000000   9.000000        NaN    0.471591
24  Mon, Feb 12, 2024    3   7  0.300000   9.000000  13.714286    0.462366
25  Tue, Feb 13, 2024    0   0       NaN        NaN        NaN    0.462366
26  Wed, Feb 14, 2024    0   0       NaN        NaN        NaN    0.462366
27  Thu, Feb 15, 2024    0   0       NaN        NaN        NaN    0.462366
28  Thu, Feb 22, 2024    0   0       NaN        NaN        NaN    0.462366
29  Fri, Feb 23, 2024    0   0       NaN        NaN        NaN    0.462366
30  Sat, Feb 24, 2024    0   0       NaN        NaN        NaN    0.462366
31  Sun, Feb 25, 2024    0   0       NaN        NaN        NaN    0.462366
32  Mon, Feb 26, 2024    0   0       NaN        NaN        NaN    0.462366
33  Tue, Feb 27, 2024    0   0       NaN        NaN        NaN    0.462366
34  Wed, Feb 28, 2024    0   0       NaN        NaN        NaN    0.462366
35  Thu, Feb 29, 2024    0   0       NaN        NaN        NaN    0.462366

In [4]:
print("\nResult Table:")
print(tabulate(df[['Date', 'Accuracy']], headers='keys', tablefmt='pretty'))

Result Table:
+----+-------------------+---------------------+
|    |       Date        |      Accuracy       |
+----+-------------------+---------------------+
| 0  | Fri, Jan 19, 2024 | 0.2857142857142857  |
| 1  | Sat, Jan 20, 2024 |        0.625        |
| 2  | Sun, Jan 21, 2024 | 0.3333333333333333  |
| 3  | Mon, Jan 22, 2024 |        0.375        |
| 4  | Tue, Jan 23, 2024 |         0.2         |
| 5  | Wed, Jan 24, 2024 |        0.375        |
| 6  | Thu, Jan 25, 2024 | 0.42857142857142855 |
| 7  | Fri, Jan 26, 2024 |         0.5         |
| 8  | Sat, Jan 27, 2024 |         0.4         |
| 9  | Sun, Jan 28, 2024 |         0.6         |
| 10 | Mon, Jan 29, 2024 | 0.3333333333333333  |
| 11 | Tue, Jan 30, 2024 |         0.6         |
| 12 | Wed, Jan 31, 2024 |         0.3         |
| 13 | Thu, Feb 1, 2024  |         0.5         |
| 14 | Fri, Feb 2, 2024  |         0.3         |
| 15 | Sat, Feb 3, 2024  |         0.5         |
| 16 | Sun, Feb 4, 2024  | 0.8888888888888888  |
| 17 | Mon, Feb 5, 2024  | 0.8333333333333334  |
| 18 | Tue, Feb 6, 2024  | 0.2857142857142857  |
| 19 | Wed, Feb 7, 2024  | 0.5714285714285714  |
| 20 | Thu, Feb 8, 2024  | 0.4444444444444444  |
| 21 | Fri, Feb 9, 2024  |         0.5         |
| 22 | Sat, Feb 10, 2024 | 0.6363636363636364  |
| 23 | Sun, Feb 11, 2024 |         1.0         |
| 24 | Mon, Feb 12, 2024 |         0.3         |
| 25 | Tue, Feb 13, 2024 |         nan         |
| 26 | Wed, Feb 14, 2024 |         nan         |
| 27 | Thu, Feb 15, 2024 |         nan         |
| 28 | Thu, Feb 22, 2024 |         nan         |
| 29 | Fri, Feb 23, 2024 |         nan         |
| 30 | Sat, Feb 24, 2024 |         nan         |
| 31 | Sun, Feb 25, 2024 |         nan         |
| 32 | Mon, Feb 26, 2024 |         nan         |
| 33 | Tue, Feb 27, 2024 |         nan         |
| 34 | Wed, Feb 28, 2024 |         nan         |
| 35 | Thu, Feb 29, 2024 |         nan         |
+----+-------------------+---------------------+

In [5]:
df = df.fillna('')

In [6]:
df['Accuracy'].fillna('', inplace=True)

# Convert "Accuracy" column to numeric values
df['Accuracy'] = pd.to_numeric(df['Accuracy'], errors='coerce')

# Format the "Accuracy" column to display 2 decimal places or leave as blank
df['Accuracy'] = df['Accuracy'].apply(lambda x: '\033[92m{:.2f}\033[0m'.format(x) if pd.notna(x) else '')

# Display the DataFrame using tabulate with "Accuracy" values formatted to 2 decimal places and green text
print("\nResult Table:")
print(tabulate(df[['Date', 'Accuracy']], headers='keys', tablefmt='pretty', missingval='', showindex=False))

Result Table:
+-------------------+----------+
|       Date        | Accuracy |
+-------------------+----------+
| Fri, Jan 19, 2024 |   0.29   |
| Sat, Jan 20, 2024 |   0.62   |
| Sun, Jan 21, 2024 |   0.33   |
| Mon, Jan 22, 2024 |   0.38   |
| Tue, Jan 23, 2024 |   0.20   |
| Wed, Jan 24, 2024 |   0.38   |
| Thu, Jan 25, 2024 |   0.43   |
| Fri, Jan 26, 2024 |   0.50   |
| Sat, Jan 27, 2024 |   0.40   |
| Sun, Jan 28, 2024 |   0.60   |
| Mon, Jan 29, 2024 |   0.33   |
| Tue, Jan 30, 2024 |   0.60   |
| Wed, Jan 31, 2024 |   0.30   |
| Thu, Feb 1, 2024  |   0.50   |
| Fri, Feb 2, 2024  |   0.30   |
| Sat, Feb 3, 2024  |   0.50   |
| Sun, Feb 4, 2024  |   0.89   |
| Mon, Feb 5, 2024  |   0.83   |
| Tue, Feb 6, 2024  |   0.29   |
| Wed, Feb 7, 2024  |   0.57   |
| Thu, Feb 8, 2024  |   0.44   |
| Fri, Feb 9, 2024  |   0.50   |
| Sat, Feb 10, 2024 |   0.64   |
| Sun, Feb 11, 2024 |   1.00   |
| Mon, Feb 12, 2024 |   0.30   |
| Tue, Feb 13, 2024 |          |
| Wed, Feb 14, 2024 |          |
| Thu, Feb 15, 2024 |          |
| Thu, Feb 22, 2024 |          |
| Fri, Feb 23, 2024 |          |
| Sat, Feb 24, 2024 |          |
| Sun, Feb 25, 2024 |          |
| Mon, Feb 26, 2024 |          |
| Tue, Feb 27, 2024 |          |
| Wed, Feb 28, 2024 |          |
| Thu, Feb 29, 2024 |          |
+-------------------+----------+