In [1]:
import pandas as pd
from prettytable import PrettyTable
from tabulate import tabulate

In [2]:
df = pd.read_excel('future.xlsx', sheet_name='Sheet2')

In [3]:
df

,Date,Yes,No,Accuracy,Yes-Diff,No-Diff,Cumulative,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17
0,"Fri, Jan 19, 2024",2,5,0.285714,9.000000,7.800000,0.285714,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"Sat, Jan 20, 2024",5,3,0.625000,14.000000,10.000000,0.466667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"Sun, Jan 21, 2024",2,4,0.333333,8.000000,15.500000,0.428571,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"Mon, Jan 22, 2024",3,5,0.375000,13.000000,8.800000,0.413793,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"Tue, Jan 23, 2024",1,4,0.200000,5.000000,19.250000,0.382353,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,"Wed, Jan 24, 2024",3,5,0.375000,8.333333,17.800000,0.380952,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,"Thu, Jan 25, 2024",3,4,0.428571,21.666667,11.250000,0.387755,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,"Fri, Jan 26, 2024",4,4,0.500000,7.750000,20.750000,0.403509,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,"Sat, Jan 27, 2024",4,6,0.400000,5.750000,12.833333,0.402985,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,"Sun, Jan 28, 2024",3,2,0.600000,10.666667,7.000000,0.416667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,"Mon, Jan 29, 2024",4,8,0.333333,11.000000,13.625000,0.404762,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,"Tue, Jan 30, 2024",3,2,0.600000,13.000000,10.000000,0.415730,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,"Wed, Jan 31, 2024",3,7,0.300000,5.666667,14.428571,0.404040,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,"Thu, Feb 1, 2024",2,2,0.500000,6.000000,5.500000,0.407767,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,"Fri, Feb 2, 2024",3,7,0.300000,7.333333,14.428571,0.398230,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,"Sat, Feb 3, 2024",3,3,0.500000,12.000000,10.000000,0.403361,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,"Sun, Feb 4, 2024",8,1,0.888889,17.750000,15.000000,0.437500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,"Mon, Feb 5, 2024",5,1,0.833333,17.200000,16.000000,0.455224,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,"Tue, Feb 6, 2024",2,5,0.285714,11.000000,10.000000,0.446809,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,"Wed, Feb 7, 2024",4,3,0.571429,8.500000,15.666667,0.452703,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,"Thu, Feb 8, 2024",4,5,0.444444,13.750000,16.000000,0.452229,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,"Fri, Feb 9, 2024",3,3,0.500000,19.000000,12.666667,0.453988,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,"Sat, Feb 10, 2024",7,4,0.636364,11.428571,14.750000,0.465517,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,"Sun, Feb 11, 2024",2,0,1.000000,9.000000,NaN,0.471591,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,"Mon, Feb 12, 2024",3,7,0.300000,9.000000,13.714286,0.462366,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,"Tue, Feb 13, 2024",5,1,0.833333,10.600000,26.000000,0.473958,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.398230,NaN
26,"Wed, Feb 14, 2024",8,5,0.615385,15.250000,11.600000,0.482927,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.586957,0.584270
27,"Thu, Feb 15, 2024",1,2,0.333333,37.000000,3.000000,0.480769,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.681818
28,"Thu, Feb 22, 2024",8,4,0.666667,15.875000,14.500000,0.490909,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,"Fri, Feb 23, 2024",7,3,0.700000,12.285714,7.666667,0.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,"Sat, Feb 24, 2024",3,0,1.000000,10.666667,NaN,0.506438,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,"Sun, Feb 25, 2024",6,5,0.545455,16.666667,12.800000,0.508197,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,"Mon, Feb 26, 2024",2,2,0.500000,13.500000,9.500000,0.508065,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,"Tue, Feb 27, 2024",0,0,NaN,NaN,NaN,0.508065,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,"Wed, Feb 28, 2024",0,0,NaN,NaN,NaN,0.508065,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,"Thu, Feb 29, 2024",0,0,NaN,NaN,NaN,0.508065,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
print("\nResult Table:")
print(tabulate(df[['Date', 'Cumulative']], headers='keys', tablefmt='pretty'))

Result Table:
+----+-------------------+---------------------+
|    |       Date        |     Cumulative      |
+----+-------------------+---------------------+
| 0  | Fri, Jan 19, 2024 | 0.2857142857142857  |
| 1  | Sat, Jan 20, 2024 | 0.4666666666666667  |
| 2  | Sun, Jan 21, 2024 | 0.42857142857142855 |
| 3  | Mon, Jan 22, 2024 | 0.41379310344827586 |
| 4  | Tue, Jan 23, 2024 | 0.3823529411764706  |
| 5  | Wed, Jan 24, 2024 | 0.38095238095238093 |
| 6  | Thu, Jan 25, 2024 | 0.38775510204081637 |
| 7  | Fri, Jan 26, 2024 | 0.40350877192982454 |
| 8  | Sat, Jan 27, 2024 | 0.40298507462686567 |
| 9  | Sun, Jan 28, 2024 | 0.4166666666666667  |
| 10 | Mon, Jan 29, 2024 | 0.4047619047619047  |
| 11 | Tue, Jan 30, 2024 | 0.4157303370786516  |
| 12 | Wed, Jan 31, 2024 | 0.4040404040404041  |
| 13 | Thu, Feb 1, 2024  |  0.407766990291262  |
| 14 | Fri, Feb 2, 2024  | 0.3982300884955751  |
| 15 | Sat, Feb 3, 2024  | 0.4033613445378152  |
| 16 | Sun, Feb 4, 2024  |       0.4375        |
| 17 | Mon, Feb 5, 2024  | 0.45522388059701496 |
| 18 | Tue, Feb 6, 2024  | 0.4468085106382978  |
| 19 | Wed, Feb 7, 2024  | 0.4527027027027028  |
| 20 | Thu, Feb 8, 2024  | 0.4522292993630573  |
| 21 | Fri, Feb 9, 2024  | 0.45398773006134974 |
| 22 | Sat, Feb 10, 2024 | 0.46551724137931033 |
| 23 | Sun, Feb 11, 2024 |  0.471590909090909  |
| 24 | Mon, Feb 12, 2024 | 0.4623655913978494  |
| 25 | Tue, Feb 13, 2024 | 0.47395833333333337 |
| 26 | Wed, Feb 14, 2024 | 0.48292682926829283 |
| 27 | Thu, Feb 15, 2024 | 0.48076923076923084 |
| 28 | Thu, Feb 22, 2024 | 0.49090909090909085 |
| 29 | Fri, Feb 23, 2024 |         0.5         |
| 30 | Sat, Feb 24, 2024 | 0.5064377682403434  |
| 31 | Sun, Feb 25, 2024 | 0.5081967213114755  |
| 32 | Mon, Feb 26, 2024 |  0.508064516129032  |
| 33 | Tue, Feb 27, 2024 |  0.508064516129032  |
| 34 | Wed, Feb 28, 2024 |  0.508064516129032  |
| 35 | Thu, Feb 29, 2024 |  0.508064516129032  |
+----+-------------------+---------------------+

In [5]:
df = df.fillna('')

In [6]:
df['Cumulative'].fillna('', inplace=True)

# Convert "Accuracy" column to numeric values
df['Cumulative'] = pd.to_numeric(df['Cumulative'], errors='coerce')

# Format the "Accuracy" column to display 2 decimal places or leave as blank
df['Cumulative'] = df['Cumulative'].apply(lambda x: '\033[92m{:.2f}\033[0m'.format(x) if pd.notna(x) else '')

# Display the DataFrame using tabulate with "Accuracy" values formatted to 2 decimal places and green text
print("\nResult Table:")
print(tabulate(df[['Date', 'Cumulative']], headers='keys', tablefmt='pretty', missingval='', showindex=False))

Result Table:
+-------------------+------------+
|       Date        | Cumulative |
+-------------------+------------+
| Fri, Jan 19, 2024 |    0.29    |
| Sat, Jan 20, 2024 |    0.47    |
| Sun, Jan 21, 2024 |    0.43    |
| Mon, Jan 22, 2024 |    0.41    |
| Tue, Jan 23, 2024 |    0.38    |
| Wed, Jan 24, 2024 |    0.38    |
| Thu, Jan 25, 2024 |    0.39    |
| Fri, Jan 26, 2024 |    0.40    |
| Sat, Jan 27, 2024 |    0.40    |
| Sun, Jan 28, 2024 |    0.42    |
| Mon, Jan 29, 2024 |    0.40    |
| Tue, Jan 30, 2024 |    0.42    |
| Wed, Jan 31, 2024 |    0.40    |
| Thu, Feb 1, 2024  |    0.41    |
| Fri, Feb 2, 2024  |    0.40    |
| Sat, Feb 3, 2024  |    0.40    |
| Sun, Feb 4, 2024  |    0.44    |
| Mon, Feb 5, 2024  |    0.46    |
| Tue, Feb 6, 2024  |    0.45    |
| Wed, Feb 7, 2024  |    0.45    |
| Thu, Feb 8, 2024  |    0.45    |
| Fri, Feb 9, 2024  |    0.45    |
| Sat, Feb 10, 2024 |    0.47    |
| Sun, Feb 11, 2024 |    0.47    |
| Mon, Feb 12, 2024 |    0.46    |
| Tue, Feb 13, 2024 |    0.47    |
| Wed, Feb 14, 2024 |    0.48    |
| Thu, Feb 15, 2024 |    0.48    |
| Thu, Feb 22, 2024 |    0.49    |
| Fri, Feb 23, 2024 |    0.50    |
| Sat, Feb 24, 2024 |    0.51    |
| Sun, Feb 25, 2024 |    0.51    |
| Mon, Feb 26, 2024 |    0.51    |
| Tue, Feb 27, 2024 |    0.51    |
| Wed, Feb 28, 2024 |    0.51    |
| Thu, Feb 29, 2024 |    0.51    |
+-------------------+------------+