In [1]:
import pandas as pd
from prettytable import PrettyTable
from tabulate import tabulate
from termcolor import colored

In [2]:
df = pd.read_excel('espn_comparison.xlsx')

In [3]:
df

,"NBA, Sunday 25th Feb 2024",Ballgorithm,ESPN
0,Milwaukee Bucks (36-21) vs Philadelphia 76ers ...,Milwaukee Bucks (76.67%),Philadelphia 76ers (51.9%)
1,Los Angeles Lakers (32-27) vs Phoenix Suns (33...,Los Angeles Lakers (70.00%),Los Angeles Lakers (67.2%)
2,Dallas Mavericks (33-23) vs Indiana Pacers (32...,Indiana Pacers (62.07%),Indiana Pacers (55.7%)
3,Cleveland Cavaliers (36-19) vs Washington Wiza...,Cleveland Cavaliers (65.52%),Cleveland Cavaliers (87.1%)
4,Orlando Magic (32-25) vs Atlanta Hawks (24-32),Orlando Magic (69.23%),Orlando Magic (58.7%)
5,Denver Nuggets (38-19) vs Golden State Warrior...,Denver Nuggets (81.48%),Denver Nuggets (67.6%)
6,Oklahoma City Thunder (39-17) vs Houston Rocke...,Oklahoma City Thunder (79.31%),Oklahoma City Thunder (71.1%)
7,Chicago Bulls (26-30) vs New Orleans Pelicans ...,New Orleans Pelicans (60.71%),New Orleans Pelicans (66.7%)
8,San Antonio Spurs (11-46) vs Utah Jazz (26-31),Utah Jazz (60.71%),Utah Jazz (79.5%)
9,Charlotte Hornets (14-42) vs Portland Trail Bl...,Charlotte Hornets (66.67%),Portland Trail Blazers (66.0%)
10,Sacramento Kings (32-23) vs Los Angeles Clippe...,Los Angeles Clippers (76.92%),Los Angeles Clippers (73.8%)

In [4]:
def color_value(val):
    return colored(val, 'green')

def color_header(header):
    return colored(header, 'blue', attrs=['bold'])

# Apply color functions to each cell in the dataframe, including headers
colored_df = df.applymap(lambda x: color_value(x) if x not in df.columns else color_header(x))

# Create a pretty table from the colored dataframe
result_table = tabulate(colored_df, headers='keys', tablefmt='pretty', showindex=False)

print(result_table)

+-------------------------------------------------------------+--------------------------------+--------------------------------+
|                  NBA, Sunday 25th Feb 2024                  |          Ballgorithm           |              ESPN              |
+-------------------------------------------------------------+--------------------------------+--------------------------------+
|    Milwaukee Bucks (36-21) vs Philadelphia 76ers (33-23)    |    Milwaukee Bucks (76.67%)    |   Philadelphia 76ers (51.9%)   |
|     Los Angeles Lakers (32-27) vs Phoenix Suns (33-24)      |  Los Angeles Lakers (70.00%)   |   Los Angeles Lakers (67.2%)   |
|     Dallas Mavericks (33-23) vs Indiana Pacers (32-26)      |    Indiana Pacers (62.07%)     |     Indiana Pacers (55.7%)     |
|  Cleveland Cavaliers (36-19) vs Washington Wizards (9-47)   |  Cleveland Cavaliers (65.52%)  |  Cleveland Cavaliers (87.1%)   |
|       Orlando Magic (32-25) vs Atlanta Hawks (24-32)        |     Orlando Magic (69.23%)     |     Orlando Magic (58.7%)      |
|   Denver Nuggets (38-19) vs Golden State Warriors (29-26)   |    Denver Nuggets (81.48%)     |     Denver Nuggets (67.6%)     |
|  Oklahoma City Thunder (39-17) vs Houston Rockets (25-31)   | Oklahoma City Thunder (79.31%) | Oklahoma City Thunder (71.1%)  |
|    Chicago Bulls (26-30) vs New Orleans Pelicans (34-23)    | New Orleans Pelicans (60.71%)  |  New Orleans Pelicans (66.7%)  |
|       San Antonio Spurs (11-46) vs Utah Jazz (26-31)        |      Utah Jazz (60.71%)        |       Utah Jazz (79.5%)        |
| Charlotte Hornets (14-42) vs Portland Trail Blazers (15-40) |   Charlotte Hornets (66.67%)   | Portland Trail Blazers (66.0%) |
|  Sacramento Kings (32-23) vs Los Angeles Clippers (37-18)   | Los Angeles Clippers (76.92%)  |  Los Angeles Clippers (73.8%)  |
+-------------------------------------------------------------+--------------------------------+--------------------------------+

In [5]:
# Display the DataFrame using tabulate with "Accuracy" values formatted to 2 decimal places and green text
print("\nResult Table:")
print(tabulate(df[['Date', 'Ballgorithm', 'ESPN']], headers='keys', tablefmt='pretty', missingval='', showindex=False))

Result Table:

KeyError: "['Date'] not in index"